<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的主页</title>
</head>
<body>
<hr>
    <h1><span style="color: red; ">欢迎登陆</span></h1>
    <h1 style="color:coral">欢迎来到奇幻世界</h1>
    <p style="color:chartreuse">下面我来介绍我们两款牛牛的功能,你们一定不会失望的,一个是添加,一个是更新,emmmm...</p>
    <hr style="color: red">
    <span style="border-left: blue;"><a href="user/add.html">我的宝贝添加</a>      <a href="user/update.html">我的修改更新</a></span>
    <span style="border-left: blue;"><a href="user/add.html">我的宝贝添加@@@@@</a>      <a href="user/update.html">我的修改更新@@@@@</a></span>

</body>
</html>